In [98]:
import pandas as pd
import numpy as np

In [18]:
%more README

In [99]:
#读取用户表
#%more users.dat
unmaes=['userid','gender','age','occupation','zip']
users=pd.read_csv('users.dat',names=unmaes,sep='::')
users.head(10)

D:\Program Files (86)\anaconda3\lib\site-packages\ipykernel\__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   userid gender  age  occupation    zip
0       1      F    1          10  48067
1       2      M   56          16  70072
2       3      M   25          15  55117
3       4      M   45           7  02460
4       5      M   25          20  55455
5       6      F   50           9  55117
6       7      M   35           1  06810
7       8      M   25          12  11413
8       9      M   25          17  61614
9      10      F   35           1  95370

In [29]:
#读取评分表
#%more ratings.dat
rating_name=['userid','movieid','rating','timestamp']
ratings=pd.read_csv('ratings.dat',names=rating_name,sep='::')
print(len(ratings))
print(ratings['userid'].size)
print(len(ratings.index))
#ratings.head(5)

D:\Program Files (86)\anaconda3\lib\site-packages\ipykernel\__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

1000209
1000209
1000209

In [30]:
#%ls

In [38]:
#读取电影表
movie_names=['movieid','title','geners']
movies=pd.read_csv('movies.dat',names=movie_names,sep='::')
print(len(movies))
movies.head(5)

3883

D:\Program Files (86)\anaconda3\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

   movieid                               title                        geners
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [100]:
#合并表
data=pd.merge(pd.merge(users,ratings,left_on='userid',right_on='userid'),\
                     movies,left_on='movieid',right_on='movieid')  
rating_merge.head(5)

,userid,gender,age,occupation,zip,movieid,rating,timestamp,title,geners
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

In [103]:
#查看不同性别对电影的评分
rating_by_gender=pd.pivot_table(data,values='rating',\
                            columns='gender',index='title',aggfunc='mean')
rating_gender.head(5)
#print(type(rating_gender))

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [104]:
#不同性别差异最大的电影
rating_by_gender['diff']=np.fabs(rating_by_gender['F']-rating_by_gender['M'])
rating_by_gender.sort_values('diff',ascending=False).head(5)

gender                                                F         M      diff
title
Tigrero: A Film That Was Never Made (1994)          1.0  4.333333  3.333333
Spiders, The (Die Spinnen, 1. Teil: Der Goldene...  4.0  1.000000  3.000000
Neon Bible, The (1995)                              1.0  4.000000  3.000000
James Dean Story, The (1957)                        4.0  1.000000  3.000000
Country Life (1994)                                 5.0  2.000000  3.000000

In [144]:
#查找出热门电影，热门榜单
#rating_merge['title'].value_counts()
rating_by_title=data.groupby('title')['userid'].size()
rating_by_title=rating_by_title.sort_values(ascending=False)

In [145]:
#每部电影的评分（平均发放）高分榜单
# rating_mean_title=rating_merge.groupby('title')['rating'].mean()
# rating_mean_title.sort_values(ascending=False).head(10)
mean_ratings=pd.pivot_table(data,'rating',index='title',aggfunc='mean')
mean_ratings=mean_ratings.sort_values(ascending=False)
#mean_ratings

In [146]:
#前十大热门电影的评分
# top_10_movie=pd.merge(pd.DataFrame(rating_by_title),pd.DataFrame(mean_ratings),left_index=True,right_index=True)
# top_10_movie
top_10_movie=mean_ratings[rating_by_title.head(10).index]
top_10_movie

title
American Beauty (1999)                                   4.317386
Star Wars: Episode IV - A New Hope (1977)                4.453694
Star Wars: Episode V - The Empire Strikes Back (1980)    4.292977
Star Wars: Episode VI - Return of the Jedi (1983)        4.022893
Jurassic Park (1993)                                     3.763847
Saving Private Ryan (1998)                               4.337354
Terminator 2: Judgment Day (1991)                        4.058513
Matrix, The (1999)                                       4.315830
Back to the Future (1985)                                3.990321
Silence of the Lambs, The (1991)                         4.351823
Name: rating, dtype: float64

In [147]:
#前20名高分电影的热度
rating_by_title[mean_ratings.head(20).index]

title
Gate of Heavenly Peace, The (1995)                                        3
Lured (1947)                                                              1
Ulysses (Ulisse) (1954)                                                   1
Smashing Time (1967)                                                      2
Follow the Bitch (1998)                                                   1
Song of Freedom (1936)                                                    1
Bittersweet Motel (2000)                                                  1
Baby, The (1973)                                                          1
One Little Indian (1973)                                                  1
Schlafes Bruder (Brother of Sleep) (1995)                                 1
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                                       5
Lamerica (1994)                                                           8
Apple, The (Sib) (1998)                                                   9
Sanjuro (1962)                                                           69
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)     628
Shawshank Redemption, The (1994)                                       2227
Godfather, The (1972)                                                  2223
Close Shave, A (1995)                                                   657
Usual Suspects, The (1995)                                             1783
Schindler's List (1993)                                                2304
dtype: int64

In [151]:
hot_movies=rating_by_title[rating_by_title>1000]
hot_movies_rating=mean_ratings[hot_movies.index]
hot_movies_rating.sort_values(ascending=False)

title
Shawshank Redemption, The (1994)                                               4.554558
Godfather, The (1972)                                                          4.524966
Usual Suspects, The (1995)                                                     4.517106
Schindler's List (1993)                                                        4.510417
Raiders of the Lost Ark (1981)                                                 4.477725
Rear Window (1954)                                                             4.476190
Star Wars: Episode IV - A New Hope (1977)                                      4.453694
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    4.449890
Casablanca (1942)                                                              4.412822
Sixth Sense, The (1999)                                                        4.406263
Maltese Falcon, The (1941)                                                     4.395973
One Flew Over the Cuckoo's Nest (1975)                                         4.390725
Citizen Kane (1941)                                                            4.388889
North by Northwest (1959)                                                      4.384030
Godfather: Part II, The (1974)                                                 4.357565
Silence of the Lambs, The (1991)                                               4.351823
Chinatown (1974)                                                               4.339241
Saving Private Ryan (1998)                                                     4.337354
Monty Python and the Holy Grail (1974)                                         4.335210
Life Is Beautiful (La Vita � bella) (1997)                                     4.329861
Sting, The (1973)                                                              4.320305
American Beauty (1999)                                                         4.317386
Matrix, The (1999)                                                             4.315830
Princess Bride, The (1987)                                                     4.303710
Boat, The (Das Boot) (1981)                                                    4.302697
Star Wars: Episode V - The Empire Strikes Back (1980)                          4.292977
Pulp Fiction (1994)                                                            4.278213
GoodFellas (1990)                                                              4.275196
Blade Runner (1982)                                                            4.273333
Fargo (1996)                                                                   4.254676
                                                                                 ...
Superman (1978)                                                                3.536825
Sleepy Hollow (1999)                                                           3.516886
Independence Day (ID4) (1996)                                                  3.510405
Talented Mr. Ripley, The (1999)                                                3.503381
Ghost (1990)                                                                   3.496441
Stargate (1994)                                                                3.490143
Robocop (1987)                                                                 3.451587
Fly, The (1986)                                                                3.440710
Mission: Impossible (1996)                                                     3.432875
Splash (1984)                                                                  3.430782
Star Wars: Episode I - The Phantom Menace (1999)                               3.409778
Star Trek VI: The Undiscovered Country (1991)                                  3.409590
Face/Off (1997)                                                                3.401126
Austin Powers: The Spy Who Shagged Me (1999)                                   3.388424
Perfect Storm, The (2000)                                                      3.351431
Back to the Future Part II (1989)                                              3.343696
Mummy, The (1999)                                                              3.321748
Rocky Horror Picture Show, The (1975)                                          3.291160
Mask, The (1994)                                                               3.279050
Back to the Future Part III (1990)                                             3.242160
Mission: Impossible 2 (2000)                                                   3.195735
Armageddon (1998)                                                              3.191892
Twister (1996)                                                                 3.173874
Starship Troopers (1997)                                                       3.133276
Lost World: Jurassic Park, The (1997)                                          3.036653
Blair Witch Project, The (1999)                                                3.031528
Arachnophobia (1990)                                                           3.002926
Batman Returns (1992)                                                          2.976722
Honey, I Shrunk the Kids (1989)                                                2.933014
Mars Attacks! (1996)                                                           2.900372
Name: rating, dtype: float64